<?xml version="1.0"?>
<project name="OpenPetra-userconfig">
    <property name="DBMS.Type" value="OPENPETRA_RDBMSType"/>
    <property name="DBMS.DBName" value="OPENPETRA_DBNAME"/>
    <property name="DBMS.UserName" value="OPENPETRA_DBUSER"/>
    <property name="DBMS.Password" value="OPENPETRA_DBPWD"/>
    <property name="Server.DebugLevel" value="0"/>
</project>

