*-generated.build
*-generated.cs
setup/petra0300/dbdoc
setup/petra0300/i18n
setup/petra0300/ndoc
db/basedb_progress
*.local
*.local.ben.xml
demodata/generated
OpenPetra.build.config
*.exe.config
/etc/*.config
app.config
*.CollectedGettext.cs
*.bak
_bin
obj
*.yaml.xml
*.yml.xml
*.cs.error
*.error
*.new
*.resources
*.FileListAbsolute.txt
*.pdb
*.pidb
*.orig
*.userprefs
/tmp
/var
/delivery
/data
*.patch
/log
./delivery
./delivery/**
csharp/*.sln
csharp/ICT/**/*.csproj
csharp/ICT/**/AssemblyInfo.cs
./projectfiles/**
csharp/ICT/Petra/Server/lib/data/*.cs
csharp/ICT/Petra/Shared/lib/data/*.cs
*lang-template.js
inc/cfg/benerator/benerator.log
i18n/template.pot.withallsources
*.de-DE.yaml
*.da-DK.yaml
*.fr-FR.yaml
*.es-ES.yaml
-*.xml
csharp/ICT/Testing/**/*.Parameters.json
csharp/ICT/Testing/**/*.Results.html
csharp/ICT/Testing/lib/Common/IO/TestData/testUnzip
csharp/ICT/Testing/lib/Common/IO/TestData/test.xlsx
.gitmodules
csharp/ICT/Petra/Plugins/*
!csharp/ICT/Petra/Plugins/Plugins.build
.vs
