<?xml version="1.0"?>
<project name="OpenPetra" default="help">
    <!-- . is for the current working directory; otherwise you need to use an absolute path -->
    <property name="OpenPetraRoot.dir" value="."/>
    <property name="PostgreSQL.exe" value="/Library/PostgreSQL/8.3/bin/psql"/>
    <property name="pgdump.exe" value="pg_dump"/>
    <property name="NAntBin.dir" value="/Library/Frameworks/Mono.framework/Versions/2.4/share/NAnt/bin"/>
    <property name="mdtool" value="/Applications/MonoDevelop.app/Contents/MacOS/mdtool"/>
    <property name="Poedit.gettext" value="/usr/bin/xgettext"/>
    <property name="Poedit.msgfmt" value="/usr/bin/msgfmt"/>
    <property name="Poedit.msgcat" value="/usr/bin/msgcat"/>
    <property name="Innosetup.ISCC" value="Inno Setup 5/ISCC.exe"/>
    <property name="Uncrustify.exe" value="Uncrustify/uncrustify.exe"/>
    <property name="Dia.exe" value="dia.exe"/>
    <property name="MySQL.exe" value="mysql.exe"/>
    <property name="DBMS.Type" value="postgresql"/>
    <property name="DBMS.Password" value=""/>
    <property name="Translation.TargetLanguage" value="de"/>
    <property name="SelectedDemo" value="demodataGermany"/>
    <property name="SelectedLanguage" value="en"/>
    <property name="TargetPlatform" value="mono-2.0"/>
    <property name="GUILocalisation" value="en"/> <!-- To avoid AutoSize/TableLayoutPanel problems with Mono 2.4 -->
</project>
