<?xml version="1.0"?>
<project name="OpenPetra" default="help">
    <!-- . is for the current working directory; otherwise you need to use an absolute path -->
    <property name="OpenPetraRoot.dir" value="."/>
    <property name="PostgreSQL.exe" value="psql"/>
    <property name="pgdump.exe" value="pg_dump"/>
    <property name="NAntBin.dir" value="/usr/share/NAnt/bin"/> <!-- or eg. /usr/local/bin/nant-0.86-nightly-2009-05-05/bin -->
    <property name="mdtool" value="mdtool"/>
    <!-- alternatively: name=xbuild value=xbuild, 
        remove mdtool line for xbuild to work. 
        you need to delete ${ThirdParty.dir}/NAnt/Ict.Tools.NAntTasks.dll so that the csproj files are fixed (Mono.Posix, SharpZipLib) -->
    <property name="Poedit.gettext" value="/usr/bin/xgettext"/>
    <property name="Poedit.msgfmt" value="/usr/bin/msgfmt"/>
    <property name="Poedit.msgcat" value="/usr/bin/msgcat"/>
    <property name="Innosetup.ISCC" value="Inno Setup 5/ISCC.exe"/>
    <property name="Uncrustify.exe" value="Uncrustify/uncrustify.exe"/>
    <property name="Dia.exe" value="dia.exe"/>
    <property name="MySQL.exe" value="mysql"/>
    <property name="DBMS.Type" value="sqlite"/>
    <property name="DBMS.Password" value="petra"/>
    <property name="Translation.TargetLanguage" value="de"/>
    <property name="SelectedDemo" value="demodataGermany"/>
    <property name="SelectedLanguage" value="en"/>
    <property name="TargetPlatform" value="mono-2.0"/>
    <property name="GUILocalisation" value="en"/> <!-- To avoid AutoSize/TableLayoutPanel problems with Mono 2.4 -->
</project>
