<?xml version="1.0"?>
<project name="OpenPetra" default="help">
    <!-- ./ is for the current working directory; otherwise you need to use an absolute path -->
    <property name="OpenPetraRoot.dir" value="./"/>
    <property name="PostgreSQL.exe" value="psql"/>
    <property name="Poedit.gettext" value="/usr/bin/xgettext"/>
    <property name="Poedit.msgfmt" value="/usr/bin/msgfmt"/>
    <property name="Innosetup.ISCC" value="Inno Setup 5/ISCC.exe"/>
    <property name="Uncrustify.exe" value="Uncrustify/uncrustify.exe"/>
    <property name="Dia.exe" value="dia.exe"/>
    <property name="MySQL.exe" value="mysql.exe"/>
    <property name="DBMS.Type" value="sqlite"/>
    <property name="DBMS.Password" value=""/>
    <property name="Translation.TargetLanguage" value="de"/>
</project>
