<?xml version="1.0"?>
<project name="OpenPetra" default="help">
    <property name="OpenPetraRoot.dir" value="u:/OpenPetra"/>
    <property name="PostgreSQL.exe" value="${sys.env.ProgramFiles}/PostgreSQL/8.3/bin/psql.exe"/>
    <property name="Poedit.gettext" value="${sys.env.ProgramFiles}/Poedit/bin/xgettext.exe"/>
    <property name="Poedit.msgfmt" value="${sys.env.ProgramFiles}/Poedit/bin/msgfmt.exe"/>
    <property name="Innosetup.ISCC" value="${sys.env.ProgramFiles}/Inno Setup 5/ISCC.exe"/>
    <property name="Uncrustify.exe" value="${sys.env.ProgramFiles}/Uncrustify/uncrustify.exe"/>
    <property name="Dia.exe" value="${sys.env.ProgramFiles}\Dia\bin\dia.exe"/>
    <property name="MySQL.exe" value="C:/xampplite/mysql/bin/mysql.exe"/>
    <property name="DBMS.Type" value="sqlite"/>
    <property name="DBMS.Password" value=""/>
    <property name="Translation.TargetLanguage" value="de"/>
    <property name="SelectedDemo" value="demodataGermany"/>
</project>