<?xml version="1.0"?>
<project name="OpenPetra-userconfig">
    <property name="PostgreSQL.Version" value="9.1"/> <!-- 9.0 is still the default -->
    <property name="DBMS.Type" value="postgresql"/>
    <property name="DBMS.DBName" value="petra"/>
    <property name="DBMS.UserName" value="petra"/>
    <property name="DBMS.Password" value="petraPostgresPass"/>
</project>