<?xml version="1.0"?>
<project name="OpenPetra" default="help">
    <property name="OpenPetraRoot.dir" value="C:\openPetra\checkoutShepherdBranch"/>
    <property name="PostgreSQL.exe" value="${sys.env.ProgramFiles}/PostgreSQL/8.3/bin/psql.exe"/>
    <property name="pgdump.exe" value="${sys.env.ProgramFiles}/PostgreSQL/8.3/bin/pg_dump.exe"/>
    <property name="Poedit.gettext" value="${sys.env.ProgramFiles}/Poedit/bin/xgettext.exe"/>
    <property name="Poedit.msgfmt" value="${sys.env.ProgramFiles}/Poedit/bin/msgfmt.exe"/>
    <property name="Poedit.msgcat" value="${sys.env.ProgramFiles}/Poedit/bin/msgcat.exe"/>
    <property name="Innosetup.ISCC" value="${sys.env.ProgramFiles}/Inno Setup 5/ISCC.exe"/>
    <property name="Uncrustify.exe" value="${sys.env.ProgramFiles}/Uncrustify/uncrustify.exe"/>
    <property name="Dia.exe" value="${sys.env.ProgramFiles}\Dia\bin\dia.exe"/>
    <property name="MySQL.exe" value="${sys.env.ProgramFiles}\mysql\mysql server 5.1/bin/mysql.exe"/>
    <property name="MySQLDump.exe" value="${sys.env.ProgramFiles}\mysql\mysql server 5.1/bin/mysqldump.exe"/>
    <property name="MonoBinPath" value="${sys.env.ProgramFiles}\Mono-2.4\bin"/>
    <property name="DBMS.Type" value="sqlite"/>
    <property name="DBMS.Password" value=""/>
    <property name="DBMS.DBName" value="openpetra"/>
    <property name="Server.Port" value="9000"/>
    <property name="Translation.TargetLanguage" value="de"/>
    <property name="SelectedDemo" value="demodataGermany"/>
    <property name="SelectedLanguage" value="en"/>
    <property name="TargetPlatform" value="net-2.0"/>
    <property name="GUILocalisation" value=""/> <!-- leave this empty for MS.net and AutoSize/TableLayoutPanel -->
    <if test="${framework::get-target-framework() == 'mono-2.0'}" >
        <property name="GUILocalisation" value="en"/>
        <property name="TargetPlatform" value="mono-2.0"/>
    </if>
</project>