<configuration>
  <appSettings>
    <add key="Server.DebugLevel" value="0" />                        <!-- Default Value: "0" -->
    <add key="NumberOfLogFilesToKeep" value="6" />                   <!-- Default Value: "-1" -->
    <add key="Server.LogFile" value="../log30/PetraClient.log" />   <!-- Default Value: "Server.log" in current working directory -->
    <add key="Server.RDBMSType" value="SQLite" />
    <add key="Server.DBHostOrFile" value = "../db30/petra.db" />
    <add key="Server.SQLiteBaseFile" value = "../db30/demo.db" />  <!-- database will be copied to the userappdata directory for a new user -->
    <add key="Server.DBPassword" value="" />     <!-- the password for the sqlite database -->
    <add key="Server.DBWaitingTimeForCoordinatedDBAccess" value = "3000" />                                <!-- Default Value: "3000" -->
    <add key="Server.DBConnectionCheckInterval" value = "0" />

    <add key="Reporting.PathStandardReports" value="../reports30" />
    <add key="Reporting.PathCustomReports" value="../reports30/custom" />
    <add key="Formletters.Path" value="../formletters30"/>
    <add key="SqlFiles.Path" value="../sql30" />

    <add key="OpenPetra.PathTemp" value="../tmp30" />
    <add key="OpenPetra.PathLog" value="../log30" />
    <add key="OpenPetra.PathExport" value="../tmp30/export" />
    <add key="Reporting.PathReportSettings" value="../reports30/Settings" />
    <add key="Reporting.PathReportUserSettings" value="../reports30/Settings" />
    <add key="UINavigation.File" value="UINavigation.yml" />
    <add key="Resource.Dir" value="..\resources30" />
    <add key="UseWindowsUserID" value="true" />                <!-- Default Value: "false" -->
    <add key="DelayedDataLoading" value="true" />                <!-- Default Value: "false" -->

    <add key="RunAsStandalone" value="true" />                <!-- Default Value: "false" -->
    <add key="RunAsRemote" value="false" />                    <!-- Default Value: "false" -->
  </appSettings>
</configuration>
