<configuration>
  <system.runtime.remoting>
    <application>
	<channels>
	   <channel ref="tcp">
		<clientProviders>
			<formatter ref="binary" />
		</clientProviders>

	   </channel>
	</channels>

	  <client>
		<wellknown type="Ict.Petra.Shared.Interfaces.ServerAdminInterface.IServerAdminInterface, Ict.Petra.Shared.lib.Interfaces"
				   url="tcp://localhost:9000/Servermanager" />
	  </client>

    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="ServerAdmin.LogFile" value="temp.log" />
  </appSettings>
  
</configuration>