<configuration>
  <system.runtime.remoting>
    <application>
	<channels>
	   <channel ref="tcp">
		<clientProviders>
			<formatter ref="binary" />
		</clientProviders>

	   </channel>
	</channels>

	  <client>
		<wellknown type="Ict.Common.Remoting.Shared.IServerAdminInterface, Ict.Common.Remoting.Shared"
				   url="tcp://localhost:9000/Servermanager" />
	  </client>

    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="ServerAdmin.LogFile" value="../tmp30/ServerAdmin.log" />
  </appSettings>
  
</configuration>