<configuration>
  <system.runtime.remoting>
    <application>
	  <channels>
		<channel ref="tcp">
		  <clientProviders>
			<formatter ref="binary" />
			<provider type="Ict.Petra.Shared.RemotingSinks.Encryption.EncryptionClientSinkProvider, Ict.Petra.Shared.RemotingSinks"
                keyfile="../etc30/secretkey.dat"/>
		  </clientProviders>
		</channel>
	  </channels>

	  <client>
		<wellknown type="Ict.Petra.Shared.Interfaces.IClientManagerInterface, Ict.Petra.Shared.Interfaces" url="tcp://PETRAHOST:PETRAPORT/Clientmanager" />
	  </client>

	</application>
  </system.runtime.remoting>

  <appSettings>
	<add key="Petra.PathTemp" value="TOREPLACE" />
	<add key="Reporting.PathReportSettings" value="TOREPLACE" />
    <add key="UINavigation.File" value="UINavigation.yml" />
    <add key="Resource.Dir" value="..\resources30" />
	<add key="UseWindowsUserID" value="true" />				<!-- Default Value: "false" -->
	<add key="DelayedDataLoading" value="true" />				<!-- Default Value: "false" -->
	
	<add key="ServerPollIntervalInSeconds" value="15" />
	<add key="ServerObjectKeepAliveIntervalInSeconds" value="20" />

	<add key="RunAsRemote" value="true" />
  </appSettings>
</configuration>