<configuration>
  <system.runtime.remoting>
    <application>
	  <channels>
		<channel ref="tcp" port="0">
		  <clientProviders>
			<formatter ref="binary" />
		  </clientProviders>
		  <serverProviders>
			<formatter ref="binary" typeFilterLevel="Full" />
		  </serverProviders>
		</channel>
	  </channels>

	  <client>
		<wellknown type="Ict.Petra.Shared.Interfaces.IClientManagerInterface, Ict.Petra.Shared.Interfaces" url="tcp://PETRAHOST:PETRAPORT/Clientmanager" />
	  </client>

	</application>
  </system.runtime.remoting>

  <appSettings>
	<add key="Petra.PathTemp" value="u:\" />
	<add key="Reporting.PathReportSettings" value="U:\delphi.net\ICT\XmlReports\Settings" />
    <add key="UINavigation.File" value="UINavigation.yml" />
	<add key="UseWindowsUserID" value="true" />				<!-- Default Value: "false" -->
	<add key="DelayedDataLoading" value="true" />				<!-- Default Value: "false" -->
	
	<add key="ServerPollIntervalInSeconds" value="15" />
	<add key="ServerObjectKeepAliveIntervalInSeconds" value="20" />

	<add key="RunAsRemote" value="true" />
  </appSettings>
</configuration>