<configuration>
  <system.runtime.remoting>
    <application>
	  <channels>
		<channel ref="tcp">
		  <clientProviders>
			<formatter ref="binary" />
            <provider type="Ict.Petra.Shared.RemotingSinks.Encryption.EncryptionClientSinkProvider, Ict.Petra.Shared.RemotingSinks"
                HttpsPublicKeyXml="/var/wwws/publickeys/publickey.xml"/>
		  </clientProviders>
		</channel>
	  </channels>

	  <client>
		<wellknown type="Ict.Common.Remoting.Shared.IServerAdminInterface, Ict.Common.Remoting.Shared" 
						   url="tcp://localhost:{#SERVERPORT}/Servermanager" />
	  </client>

    </application>
  </system.runtime.remoting>
  <appSettings>
    <add key="ServerAdmin.LogFile" value="temp.log" />
  </appSettings>
  
</configuration>