<configuration>
  <appSettings>
    <add key="NumberOfLogFilesToKeep" value="6" />
    <add key="OpenPetra.PathLog" value="{applicationbindir}\..\tmp30" />
    <add key="OpenPetra.PathTemp" value="{applicationbindir}\..\tmp30" />
    <add key="OpenPetra.PathExport" value="{applicationbindir}\..\tmp30\export" />
    <add key="Reporting.PathReportSettings" value="{applicationbindir}\..\reports30\Settings" />
    <add key="Reporting.PathReportUserSettings" value="{applicationbindir}\..\reports30\Settings" />
    <add key="OpenPetra.Path.Patches" value="{applicationbindir}\..\patches30"/>
    <add key="OpenPetra.Path.RemotePatches" value="${RemotePatchesURL}"/>
    <add key="OpenPetra.HTTPServer" value="${HostedServerURL}"/>
    <add key="UINavigation.File" value="UINavigation.yml" />
    <add key="Resource.Dir" value="..\resources30" />
    <add key="UseWindowsUserID" value="true" />                <!-- Default Value: "false" -->
    <add key="DelayedDataLoading" value="true" />                <!-- Default Value: "false" -->

    <add key="ServerPollIntervalInSeconds" value="15" />
    <add key="ServerObjectKeepAliveIntervalInSeconds" value="20" />
    <add key="WebRequestTimeOutInMinutes" value="15"/>

    <add key="RunAsRemote" value="true" />
  </appSettings>
</configuration>