<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="opDevelopersAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <opDevelopersAssistant.Properties.Settings>
            <setting name="BranchLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="YAMLLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sequence" serializeAs="String">
                <value />
            </setting>
            <setting name="AltSequence" serializeAs="String">
                <value />
            </setting>
            <setting name="cboCodeGenerationID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cboCompilationID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cboMiscellaneousID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cboDatabaseID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoStartServer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoStopServer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinimizeServerAtStartup" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DbBuildConfigurations" serializeAs="String">
                <value />
            </setting>
            <setting name="FlashAfterSeconds" serializeAs="String">
                <value>15</value>
            </setting>
        </opDevelopersAssistant.Properties.Settings>
    </userSettings>
</configuration>