<cruisecontrol xmlns:cb="urn:ccnet.config.builder" xmlns="http://thoughtworks.org/ccnet/1/5" >
	<!-- This is your CruiseControl.NET Server Configuration file. Add your projects below! -->
	<project name="OpenPetraOrg">
          <workingDirectory>/home/timop/openpetraorg.cc</workingDirectory>
	  <webURL>http://build.openpetra.org:8002/server/local/project/OpenPetraOrg/ViewProjectReport.aspx</webURL>
          <triggers>
            <intervalTrigger name="continuous" seconds="3600" buildCondition="IfModificationExists" />
          </triggers> 
          <sourcecontrol type="git">
            <repository>git://openpetraorg.git.sourceforge.net/gitroot/openpetraorg/openpetraorg</repository>
            <branch>master</branch>
            <autoGetSource>true</autoGetSource>
            <executable>git</executable>
            <tagOnSuccess>false</tagOnSuccess>
            <commitBuildModifications>false</commitBuildModifications>
            <commitUntrackedFiles>false</commitUntrackedFiles>
            <workingDirectory>/home/timop/openpetraorg.cc</workingDirectory>
          </sourcecontrol>
          <tasks>
            <exec>
              <executable>/bin/sh</executable>
              <buildArgs>-c "cp ../OpenPetra.build.config OpenPetra.build.config"</buildArgs>
            </exec>
            <nant executable="/usr/bin/nant">
              <buildFile>OpenPetra.build</buildFile>
              <targetList>
                <target>compilePetra</target>
              </targetList>
              <buildTimeoutSeconds>1800</buildTimeoutSeconds>
              <logger>NAnt.Core.XmlLogger</logger>
            </nant>
          </tasks>
          <publishers>
            <xmllogger/>
            <merge>
            <files>
                <file>*-results.xml</file>
            </files>
            </merge>
            <email includeDetails="TRUE" mailhost="localhost" >
              <from>buildmaster@example.org</from>
              <users>
                <user name="myname" group="buildmaster" address="myown@example.org" />
              </users>
              <groups>
                <group name="developers">
                  <notifications>
                    <notificationType>Failed</notificationType>
                    <notificationType>Fixed</notificationType>
                  </notifications>
                </group>
                <group name="buildmaster">
                  <notifications>
                    <notificationType>Always</notificationType>
                  </notifications>
                </group>
              </groups>
              <converters>
                <regexConverter find="$" replace="@TheCompany.com" />
              </converters>
              <modifierNotificationTypes>
                <NotificationType>Failed</NotificationType>
                <NotificationType>Fixed</NotificationType>
              </modifierNotificationTypes>
              <subjectSettings>
                <subject buildResult="StillBroken" value="Build is still broken for OpenPetra.org" />
              </subjectSettings>
              <xslFiles>
                <file>xsl/header.xsl</file>
                <file>xsl/compile.xsl</file>
                <file>xsl/unittests.xsl</file>
                <file>xsl/modifications.xsl</file>
              </xslFiles>
              <attachments>
              </attachments>
            </email> 
          </publishers>
        </project>
</cruisecontrol>

