<configuration>
  <appSettings>
	<add key="Server.RDBMSType" value="Progress" />
	<add key="Server.ODBC_DSN" value="petra2_2" />
	<add key="odbc.username" value="sqluser" />
	<add key="odbc.password" value="sqlpwd" />
	<add key="SqlFiles.Path" value="../../bankimport/" />
	<add key="MatchingDB.file" value="../../bankimport/tempMatching.db" />
  </appSettings>
</configuration>
