<configuration>
  <appSettings>
	<add key="Server.RDBMSType" value="Progress" />
	<add key="Server.ODBC_DSN" value="petra2_2" />
	<add key="odbc.username" value="sqluser" />
	<add key="odbc.password" value="sqlpwd" />
    <add key="TransactionList.File" value="../../bankimport/TransactionList.html"/>
	<add key="SqlFiles.Path" value="../../bankimport/" />
	<add key="MatchingDB.file" value="c:\tmp\DATEN\tempMatching.db" />
    <add key="RawMT940.Path" value="c:\tmp\DATEN\"/>
    <add key="MT940.Output.Path" value="c:\tmp\DATEN\"/>
    <add key="LegalEntity" value="stiftung"/>
    <add key="BankAccounts" value="12345678,SPK,stiftung,4567890,EKK,stiftung,7891234,SPK,verein,3456789,EKK,verein"/>
  </appSettings>
</configuration>
