<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <sessionState
      mode="InProc"
      timeout="30" /> <!-- timeout in minutes -->
    <customErrors mode="Off"/>
    <compilation tempDirectory="/var/tmp" debug="true" strict="false" explicit="true"/>
  </system.web>
</configuration>
