<configuration>
  <appSettings>
    <add key="Server.PathTemp" value="/home/USERNAME/tmp/" />
    <add key="ServerAdmin.LogFile" value="/home/USERNAME/log/temp.log" />
    <add key="NumberOfLogFilesToKeep" value="6" />
    <add key="OpenPetra.HTTPServer" value="http://localhost/openpetraOPENPETRA_PORT"/>
    <add key="HTTPUtils.PostRequests" value="1" />
  </appSettings>
</configuration>
