<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationDirectory" value="/usr/local/openpetra/bin30"/>
    <add key="Server.DebugLevel" value="0" />
    <add key="Server.PathTemp" value="/home/USERNAME/tmp" />
    <add key="Server.LogFile" value = "/home/USERNAME/log/Server.log"/>
    <add key="Server.PathData" value="/usr/local/openpetra/data30" />
    <add key="SqlFiles.Path" value="/usr/local/openpetra/sql30" />
    <add key="Reporting.PathStandardReports" value="/usr/local/openpetra/reports30" />
    <add key="Reporting.PathCustomReports" value="/usr/local/openpetra/custom30" />
    <add key="AnonymousUserPasswd" value="TOBESETBYINSTALLER2" />
    <add key="Formletters.Path" value="/usr/local/openpetra/formletters30"/>
    <add key="UINavigation.File" value="/usr/local/openpetra/bin30/UINavigation.yml"/>
    <add key="Forms.Path" value="/usr/local/openpetra/js30/forms"/>

    <add key="WebRequestTimeOutInMinutes" value="15"/>

    <add key="Server.RDBMSType" value="Postgresql" />
    <add key="Server.DBHostOrFile" value = "OPENPETRA_DBHOST" />
    <add key="Server.DBPort" value = "OPENPETRA_DBPORT" />
    <add key="Server.DBName" value = "OPENPETRA_DBNAME"/>
    <add key="Server.DBUserName" value = "OPENPETRA_DBUSER"/>
    <add key="Server.DBPassword" value="PG_OPENPETRA_DBPWD" />

    <add key="Server.Processing.PartnerReminders.Enabled" value="true" />
    <add key="Server.Processing.DataChecks.Enabled" value="false" />
    <add key="DataChecks.TempPath" value="/home/USERNAME/log" />
    <add key="DataChecks.RunEveryXDays" value="3" />
    <add key="DataChecks.Email.Recipient" value="${LocalFieldFinance.EmailAddress}" />
    <add key="DataChecks.Email.Sender" value="${LocalFieldFinance.EmailAddress}" />

    <add key="Reports.Email.Sender" value="${LocalFieldFinance.EmailAddress}" />

    <add key="SmtpHost" value="${smtp.host}"/>
    <add key="SmtpPort" value="${smtp.port}"/>
    <add key="SmtpUser" value="${smtp.username}"/>
    <add key="SmtpPassword" value="${smtp.password}"/>
    <add key="SmtpEnableSsl" value="${smtp.enablessl}"/>
    <add key="IntranetServerEmail" value="${intranet.email}"/>

    <!-- some values for the demo database -->
    <add key="ConferenceTool.EventCode" value="SC001CNGRSS08" />
    <add key="ConferenceTool.EventPartnerKey" value="1110198" />

    <!-- for the ICH NUnit tests -->
    <add key="LocalFieldFinance.EmailAddress" value="${LocalFieldFinance.EmailAddress}"/>
    <add key="ClearingHouse.EmailAddress" value="${ClearingHouse.EmailAddress}"/>

  </appSettings>

  <system.web>
    <sessionState
      mode="InProc"
      timeout="30" /> <!-- timeout in minutes -->
    <customErrors mode="Off"/>
    <compilation tempDirectory="/home/USERNAME/tmp" debug="true" strict="false" explicit="true"/>
  </system.web>
</configuration>
