<configuration>
  <appSettings>
    <add key="Server.DebugLevel" value="0" />
    <add key="Server.LogFile" value = "../log30/Server.log"/>

    <add key="LifetimeServices.LeaseTimeInSeconds" value = "5"/>
    <add key="LifetimeServices.RenewOnCallTime" value = "5"/>
    <add key="LifetimeServices.LeaseManagerPollTime" value = "1"/>

    <add key="Reporting.PathStandardReports" value="../reports30" />
    <add key="Reporting.PathCustomReports" value="../custom30" />
    <add key="SqlFiles.Path" value="../sql30" />
    <add key="Formletters.Path" value="../formletters30"/>

    <add key="Server.ClientIdleStatusAfterXMinutes" value="5" />
    <add key="Server.ClientKeepAliveCheckIntervalInSeconds" value="20" />
    <add key="Server.ClientKeepAliveTimeoutAfterXSeconds_LAN" value="60" />
    <add key="Server.ClientKeepAliveTimeoutAfterXSeconds_Remote" value="120" />
    <add key="Server.ClientConnectionTimeoutAfterXSeconds" value="20" />
    <add key="Server.ClientAppDomainShutdownAfterKeepAliveTimeout" value="true" />
    
    <add key="Ict.Petra.Server.MPartner.Partner.UIConnectors.TPartnerFindUIConnector_Lifetime" value="60000" />
    <add key="Ict.Petra.Server.MPartner.Partner.UIConnectors.TPartnerFindUIConnector_RenewOnCallTime" value="60000" />

    <add key="Ict.Petra.Server.MPartner.Partner.UIConnectors.TPartnerEditUIConnector_Lifetime" value="60000" />
    <add key="Ict.Petra.Server.MPartner.Partner.UIConnectors.TPartnerEditUIConnector_RenewOnCallTime" value="60000" />

    <add key="Ict.Petra.Server.MCommon.UIConnectors.TOfficeSpecificDataLabelsUIConnector_Lifetime" value="60000" />
    <add key="Ict.Petra.Server.MCommon.UIConnectors.TOfficeSpecificDataLabelsUIConnector_RenewOnCallTime" value="60000" />

    <add key="Ict.Petra.Server.MReporting.TReportGeneratorLogicConnector_Lifetime" value="60000" />
    <add key="Ict.Petra.Server.MReporting.TReportGeneratorLogicConnector_RenewOnCallTime" value="60000" />    
   </appSettings>
</configuration>
