<configuration>
    <!--
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
    -->
    <system.web.extensions>
        <scripting>
          <webServices>
               <jsonSerialization maxJsonLength="5000000" />
          </webServices>
        </scripting>
    </system.web.extensions>
</configuration>

