<configuration>
  <appSettings>
	<add key="SmtpHost" value="smtp.example.org" />
	<add key="senderemailaddress" value="donations@mycharity.org" />
	<add key="Server.RDBMSType" value="Progress" />
	<add key="Server.ODBC_DSN" value="petra2_2" />
	<add key="odbc.username" value="sqluser" />
	<add key="odbc.password" value="sqlpwd" />
	<add key="ledger" value="27" />
	<add key="motivationgroup" value="GIFT" />
	<add key="motivationdetail" value="SUPPORT" />
	<add key="SqlFiles.Path" value="../../" />
	<add key="LetterTemplate.File" value="../../TreasurerLetter.html" />
  </appSettings>
</configuration>
