<configuration>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="${Server.Port}">
          <serverProviders>
            <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>

      <lifetime leaseTime="5S" renewOnCallTime="5S" leaseManagerPollTime = "1S" />

      <service>
        <wellknown mode="Singleton"
                   type="Ict.Petra.Server.App.Core.TServerManager, Ict.Petra.Server.app.Core"
                   objectUri="Servermanager" />
        <wellknown mode="Singleton"
                   type="Ict.Common.Remoting.Server.TClientManager, Ict.Common.Remoting.Server"
                   objectUri="Clientmanager" />
      </service>

    </application>
  </system.runtime.remoting>

  <appSettings>
    <add key="Server.Port" value="${Server.Port}" />                        <!-- Default Value: "9000" -->
    <add key="Server.DebugLevel" value="${Server.DebugLevel}" />                        <!-- Default Value: "0" -->
    <add key="Server.LogFile" value="${dir.log}/Server.log" />   <!-- Default Value: "Server.log" in current working directory -->
    <add key="Server.RDBMSType" value="SQLite" />
    <add key="Server.DBHostOrFile" value = "${SQLitedbWork.file}" />
    <add key="Server.SQLiteBaseFile" value = "${SQLitedb.file}" />  <!-- database will be copied to the userappdata directory for a new user -->
    <add key="Server.DBPassword" value="${DBMS.Password}" />     <!-- this is the password for user petraserver for the SQLite database. 
                                                                      On Linux, the password should be empty. 
                                                                      see also http://sqlite.phxsoftware.com/forums/p/1508/6579.aspx#6579  -->

    <add key="Reporting.PathStandardReports" value="${dir.root}/XmlReports" />
    <add key="Reporting.PathCustomReports" value="${dir.root}/XmlReports/custom" />
    <add key="Formletters.Path" value="${Formletters.Path}"/>
    <add key="SqlFiles.Path" value="${dir.csharp}/ICT/Petra/Server/sql" />

    <add key="Server.ClientIdleStatusAfterXMinutes" value="5" />                <!-- Default Value: "5" -->
    <add key="Server.ClientKeepAliveCheckIntervalInSeconds" value="20" />            <!-- Default Value: "60" -->
    <add key="Server.ClientKeepAliveTimeoutAfterXSeconds_LAN" value="60" />            <!-- Default Value: "60" -->
    <add key="Server.ClientKeepAliveTimeoutAfterXSeconds_Remote" value="120" />        <!-- Default Value: ClientKeepAliveTimeoutAfterXSeconds_LAN * 2 = "120" -->
    <add key="Server.ClientConnectionTimeoutAfterXSeconds" value="20" />            <!-- Default Value: "20" -->
    <add key="Server.ClientAppDomainShutdownAfterKeepAliveTimeout" value="true" />        <!-- Default Value: "true" -->
    <add key="Server.DEBUGGING_Lifetime_Infinity" value="false" />   <!-- Default Value: "false". Only set to "true" if you are debugging with breakpoints in the IDE -->

    <add key="Ict.Petra.Server.MPartner.Partner.UIConnectors.TPartnerFindUIConnector_Lifetime" value="60000" />
    <add key="Ict.Petra.Server.MPartner.Partner.UIConnectors.TPartnerFindUIConnector_RenewOnCallTime" value="60000" />

    <add key="Ict.Petra.Server.MPartner.Partner.UIConnectors.TPartnerEditUIConnector_Lifetime" value="60000" />
    <add key="Ict.Petra.Server.MPartner.Partner.UIConnectors.TPartnerEditUIConnector_RenewOnCallTime" value="60000" />

    <add key="Ict.Petra.Server.MCommon.UIConnectors.TOfficeSpecificDataLabelsUIConnector_Lifetime" value="60000" />
    <add key="Ict.Petra.Server.MCommon.UIConnectors.TOfficeSpecificDataLabelsUIConnector_RenewOnCallTime" value="60000" />

    <add key="Ict.Petra.Server.MReporting.TReportGeneratorLogicConnector_Lifetime" value="60000" />
    <add key="Ict.Petra.Server.MReporting.TReportGeneratorLogicConnector_RenewOnCallTime" value="60000" />    

        <!-- The following four entries should not go into the RELEASE version! Those objects are just used by the experimental Client for .NET Remoting tests. -->
            <add key="Ict.Petra.Server.App.ClientDomain.TMyVanishingRemotedObject_Lifetime" value="60000" />
            <add key="Ict.Petra.Server.App.ClientDomain.TMyVanishingRemotedObject_RenewOnCallTime" value="60000" />
            <add key="Ict.Petra.Server.App.ClientDomain.TMyVanishingRemotedObject2_Lifetime" value="60000" />
            <add key="Ict.Petra.Server.App.ClientDomain.TMyVanishingRemotedObject2_RenewOnCallTime" value="60000" />
        <!-- End -->
   </appSettings>

</configuration>