<configuration>
  <appSettings>
    <add key="Server.PathTemp" value="${dir.root}/tmp" />
    <add key="ServerAdmin.LogFile" value="${dir.root}/log/ServerAdmin.log" />
    <add key="OpenPetra.HTTPServer" value="http://127.0.0.1:${Server.Port}"/>
    <add key="HTTPUtils.PostRequests" value="1" />
  </appSettings>
  
</configuration>