<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="libsodium" target="libsodium.so.13" os="!windows"/>
  <appSettings>
    <add key="ApplicationDirectory" value="${dir.bin}"/>
    <add key="Server.DebugLevel" value="${Server.DebugLevel}" />                        <!-- Default Value: "0" -->
    <add key="NumberOfLogFilesToKeep" value="6" />                                      <!-- Default Value: "-1" -->
    <add key="Server.PathTemp" value="${tempdir}" />
    <add key="Server.LogFile" value="${dir.log}/WebServer.log" />   <!-- Default Value: "Server.log" in current working directory -->
    <add key="Server.PathData" value="${dir.root}/data" />
    <add key="SqlFiles.Path" value="${dir.bin}/sql30" />
    <add key="Reporting.PathStandardReports" value="${dir.root}/XmlReports" />
    <add key="Reporting.PathCustomReports" value="${dir.root}/XmlReports/custom" />
    <add key="AnonymousUserPasswd" value="TOBESETBYINSTALLER2" />
    <add key="Formletters.Path" value="${Formletters.Path}" />

    <add key="WebRequestTimeOutInMinutes" value="15"/>

    <add key="Server.RDBMSType" value="MySQL" />
    <add key="Server.DBHostOrFile" value = "${DBMS.DBHostOrFile}" />                <!-- Default Value: "Dns.GetHostName()" -->
    <add key="Server.DBPort" value = "${DBMS.DBPort}" />                                <!-- Default Value: "" -->
    <add key="Server.DBName" value = "${DBMS.DBName}"/>
    <add key="Server.DBUserName" value = "${DBMS.UserName}"/>
    <add key="Server.DBPassword" value="${DBMS.Password}" />     <!-- this is the password for user DBUserName for the MySQL databases -->
    <add key="Server.DBWaitingTimeForCoordinatedDBAccess" value = "${DBMS.DBWaitingTimeForCoordinatedDBAccess}" />                                <!-- Default Value: "3000" -->
    <add key="Server.DBConnectionCheckInterval" value = "${Server.DBConnectionCheckInterval}" />                                <!-- Default Value: "0" -->

    <add key="Server.Processing.PartnerReminders.Enabled" value="true" />
    <add key="Server.Processing.DataChecks.Enabled" value="false" />
    <add key="DataChecks.TempPath" value="${dir.log}" />
    <add key="DataChecks.RunEveryXDays" value="3" />
    <add key="DataChecks.Email.Recipient" value="${LocalFieldFinance.EmailAddress}" />
    <add key="DataChecks.Email.Sender" value="${LocalFieldFinance.EmailAddress}" />

    <add key="Reports.Email.Sender" value="${LocalFieldFinance.EmailAddress}" />

    <add key="SmtpHost" value="${smtp.host}"/>
    <add key="SmtpPort" value="${smtp.port}"/>
    <add key="SmtpUser" value="${smtp.username}"/>
    <add key="SmtpPassword" value="${smtp.password}"/>
    <add key="SmtpEnableSsl" value="${smtp.enablessl}"/>
    <add key="IntranetServerEmail" value="${intranet.email}"/>

    <!-- some values for the demo database -->
    <add key="ConferenceTool.EventCode" value="SC001CNGRSS08" />
    <add key="ConferenceTool.EventPartnerKey" value="1110198" />

    <!-- for the ICH NUnit tests -->
    <add key="LocalFieldFinance.EmailAddress" value="${LocalFieldFinance.EmailAddress}"/>
    <add key="ClearingHouse.EmailAddress" value="${ClearingHouse.EmailAddress}"/>

  </appSettings>

  <system.web>
    <sessionState
      mode="InProc"
      timeout="30" /> <!-- timeout in minutes -->
    <customErrors mode="Off"/>
    <compilation tempDirectory="${tempdir}" debug="true" strict="false" explicit="true"/>
  </system.web>
</configuration>
