<configuration>
  <appSettings>
    <add key="Server.DebugLevel" value="${Server.DebugLevel}" />                        <!-- Default Value: "0" -->
    <add key="Server.LogFile" value="${dir.log}/PetraClient.log" />   <!-- Default Value: "Server.log" in current working directory -->
    <add key="NumberOfLogFilesToKeep" value="6" />                                      <!-- Default Value: "-1" -->
    <add key="Server.RDBMSType" value="Postgresql" />
    <add key="Server.DBHostOrFile" value = "${DBMS.DBHostOrFile}" />                <!-- Default Value: "Dns.GetHostName()" -->
    <add key="Server.DBPort" value = "${DBMS.DBPort}" />                                <!-- Default Value: "5432" -->
    <add key="Server.DBName" value = "${DBMS.DBName}"/>
    <add key="Server.DBUserName" value = "${DBMS.UserName}"/>
    <add key="Server.DBPassword" value="${DBMS.Password}" />     <!-- this is the password for user DBUserName for the PostgreSQL databases -->
  
    <add key="Reporting.PathStandardReports" value="${dir.root}/XmlReports" />
    <add key="Reporting.PathCustomReports" value="${dir.root}/XmlReports/custom" />
    <add key="Formletters.Path" value="${Formletters.Path}"/>
    <add key="SqlFiles.Path" value="${dir.bin}/sql30" />
    <add key="OpenPetra.PathTemp" value="${tempdir}" />

    <add key="LocalFieldFinance.EmailAddress" value="${LocalFieldFinance.EmailAddress}"/>

    <add key="SmtpHost" value="${smtp.host}"/>
    <add key="SmtpPort" value="${smtp.port}"/>
    <add key="SmtpUser" value="${smtp.username}"/>
    <add key="SmtpPassword" value="${smtp.password}"/>
    <add key="SmtpEnableSsl" value="${smtp.enablessl}"/>
    <add key="IntranetServerEmail" value="${intranet.email}"/>
  
    <add key="Client.DebugLevel" value="${Server.DebugLevel}" />
    <add key="OpenPetra.PathLog" value="${dir.petraclient.log}" />
    <add key="OpenPetra.PathTemp" value="${dir.petraclient.tmp}" />
    <add key="Reporting.PathReportSettings" value="${dir.root}/XmlReports/Settings" />
    <add key="Reporting.PathReportUserSettings" value="${dir.petraclient.var}/ReportSettings" />
    <add key="UINavigation.File" value="${dir.petraclient.definitions}" />
    <add key="Resource.Dir" value="${dir.root}/resources" />
    <add key="UseWindowsUserID" value="true" />                <!-- Default Value: "false" -->
    <add key="DelayedDataLoading" value="true" />                <!-- Default Value: "false" -->
    
    <add key="RunAsStandalone" value="true" />                <!-- Default Value: "false" -->
    <add key="RunAsRemote" value="false" />                    <!-- Default Value: "false" -->

    <add key="Formletters.Path" value="${dir.root}\demodata\formletters" />
    <add key="PetraServerAdmin.Configfile" value="PetraServerAdminConsole.exe.config" />
    <add key="PetraServer.Configfile" value="PetraServerConsole.exe.config" />

    <add key="BankNameFor20090500/6853030" value="my bank account with VoBa" />

    
	<add key="HTMLHelpBaseURLLocal" value="file://localhost/C:/some_folder" />
	<add key="HTMLHelpBaseURLOnInternet" value="onlinehelp.openpetra.org" />
	<add key="LocalHTMLHelp" value="false" />
  <add key="Server.PathData" value = "${dir.root}\data"/>

    <!--
    RunAsStandalone = true
    PetraServerAdmin.Configfile
    PetraServer.Configfile
    Petra.Path.bin
    -->
    
    <!-- 
    RunAsRemote = true
    Petra.Path.Patches
    Petra.Path.Dat
    Petra.Path.RemotePatches
    -->
    
  </appSettings>
</configuration>
