<configuration>
  <system.runtime.remoting>
    <application>
	  <channels>
		<channel ref="tcp" port="0">
		  <clientProviders>
			<formatter ref="binary" />
		  </clientProviders>
		  <serverProviders>
			<formatter ref="binary" typeFilterLevel="Full" />
		  </serverProviders>
		</channel>
	  </channels>

	  <client>
		<wellknown type="Ict.Petra.Shared.Interfaces.IClientManagerInterface, Ict.Petra.Shared.Interfaces" url="tcp://localhost:9000/Clientmanager" />
	  </client>

	</application>
  </system.runtime.remoting>
  <appSettings>
	<add key="Petra.PathTemp" value="U:\openpetraorg\tmp" />
    <add key="Testing.Path" value="U:\openpetraorg\csharp\ICT\Testing" />
	<add key="Reporting.PathReportSettings" value="U:\openpetraorg\csharp\ICT\XmlReports\Settings" />
	<add key="UseWindowsUserID" value="true" />
	<add key="DelayedDataLoading" value="true" />
	
	<add key="AutoLogin" value="demo" />
	<add key="AutoLoginPasswd" value="demo" />
    <add key="LedgerNumber" value="43" />
  </appSettings>
</configuration>
