<configuration>
  <appSettings>
    <add key="AutoLogin" value="demo" />
    <add key="AutoLoginPasswd" value="demo" />
    <add key="Server.IPBasePort" value="-1" />                        <!-- There is no remoting enabled for testing the server -->
    <add key="Server.DebugLevel" value="${Server.DebugLevel}" />                        <!-- Default Value: "0" -->
    <add key="Server.LogFile" value="${dir.log}/TestServer.log" />   <!-- Default Value: "Server.log" in current working directory -->
    <add key="Server.RDBMSType" value="${DBMS.Type}" />
    <add key="Server.DBHostOrFile" value = "${DBMS.DBHostOrFile}" />
    <add key="Server.DBPort" value = "${DBMS.DBPort}" />
    <add key="Server.DBName" value = "${DBMS.DBName}"/>
    <add key="Server.DBUserName" value = "${DBMS.UserName}"/>
    <add key="Server.DBPassword" value="${DBMS.Password}" />

    <add key="Reporting.PathStandardReports" value="${dir.root}/XmlReports" />
    <add key="Reporting.PathCustomReports" value="${dir.root}/XmlReports/custom" />
    <add key="SqlFiles.Path" value="${dir.csharp}/ICT/Petra/Server/sql" />
   </appSettings>
</configuration>