<configuration>
  <appSettings>
    <add key="OpenPetra.HTTPServer" value="http://127.0.0.1:${Server.Port}"/>
    <add key="Client.DebugLevel" value="${Server.DebugLevel}" />
    <add key="NumberOfLogFilesToKeep" value="14" />                                      <!-- Default Value: "-1" -->
    <add key="OpenPetra.PathLog" value="${dir.petraclient.log}" />
    <add key="OpenPetra.PathTemp" value="${dir.petraclient.tmp}" />
    <add key="Testing.Path" value="${dir.csharp}/ICT/Testing" />
    <add key="Reporting.PathReportSettings" value="${dir.root}/XmlReports/Settings" />
    <add key="Reporting.PathReportUserSettings" value="${dir.petraclient.var}/ReportSettings" />
    <add key="UINavigation.File" value="${dir.petraclient.definitions}" />
    <add key="Resource.Dir" value="${dir.root}/resources" />
    <add key="UseWindowsUserID" value="true" />                <!-- Default Value: "false" -->
    <add key="DelayedDataLoading" value="true" />                <!-- Default Value: "false" -->

    <add key="AutoLogin" value="demo" />
    <add key="AutoLoginPasswd" value="demo" />
    <add key="LedgerNumber" value="43" />
  </appSettings>
</configuration>
