<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationDirectory" value="${dir.bin}"/>
    <add key="AutoLogin" value="demo" />
    <add key="AutoLoginPasswd" value="demo" />
    <add key="Server.DebugLevel" value="${Server.DebugLevel}" />                        <!-- Default Value: "0" -->
    <add key="Server.PathTemp" value="${tempdir}" />
    <add key="Server.LogFile" value="${dir.log}/TestServer.log" />   <!-- Default Value: "Server.log" in current working directory -->
    <add key="Server.PathData" value="${dir.root}/data" />
    <add key="SqlFiles.Path" value="${dir.csharp}/ICT/Petra/Server/sql" />
    <add key="Reporting.PathStandardReports" value="${dir.root}/XmlReports" />
    <add key="Reporting.PathCustomReports" value="${dir.root}/XmlReports/custom" />
    <add key="AnonymousUserPasswd" value="TOBESETBYINSTALLER2" />
    <add key="Formletters.Path" value="${Formletters.Path}" />

    <add key="Server.RDBMSType" value="${DBMS.Type}" />
    <add key="Server.DBHostOrFile" value = "${DBMS.DBHostOrFile}" />
    <add key="Server.SQLiteBaseFile" value = "${SQLitedb.file}" />  <!-- database will be copied to the userappdata directory for a new user -->
    <add key="Server.DBPort" value = "${DBMS.DBPort}" />
    <add key="Server.DBName" value = "${DBMS.DBName}"/>
    <add key="Server.DBUserName" value = "${DBMS.UserName}"/>
    <add key="Server.DBPassword" value="${DBMS.Password}" />

    <add key="Server.Processing.PartnerReminders.Enabled" value="true" />
    <add key="Server.Processing.DataChecks.Enabled" value="false" />
    <add key="DataChecks.TempPath" value="${dir.log}" />
    <add key="DataChecks.RunEveryXDays" value="3" />
    <add key="DataChecks.Email.Recipient" value="${LocalFieldFinance.EmailAddress}" />
    <add key="DataChecks.Email.Sender" value="${LocalFieldFinance.EmailAddress}" />

    <add key="Reports.Email.Sender" value="${LocalFieldFinance.EmailAddress}" />

    <add key="SmtpHost" value="${smtp.host}"/>
    <add key="SmtpPort" value="${smtp.port}"/>
    <add key="SmtpUser" value="${smtp.username}"/>
    <add key="SmtpPassword" value="${smtp.password}"/>
    <add key="SmtpEnableSsl" value="${smtp.enablessl}"/>
    <add key="IntranetServerEmail" value="${intranet.email}"/>

    <!-- some values for the demo database -->
    <add key="ConferenceTool.EventCode" value="SC001CNGRSS08" />
    <add key="ConferenceTool.EventPartnerKey" value="1110198" />

    <!-- for the ICH NUnit tests -->
    <add key="LocalFieldFinance.EmailAddress" value="${LocalFieldFinance.EmailAddress}"/>
    <add key="ClearingHouse.EmailAddress" value="${ClearingHouse.EmailAddress}"/>

  </appSettings>
</configuration>