<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- see http://www.4guysfromrolla.com/articles/121207-1.aspx for the reasons why there is so much more stuff -->

  <system.runtime.remoting>
      <application>
          <channels>
              <channel ref="http" />
              <serverProviders>
                  <formatter href="binary" />
              </serverProviders>
          </channels>
      </application>
  </system.runtime.remoting>

  <appSettings>
    <add key="Server.DebugLevel" value="0" />                        <!-- Default Value: "0" -->
    <add key="Server.PathTemp" value="${tempdir}" />
    <add key="Server.LogFile" value="${dir.log}/WebServer.log" />   <!-- Default Value: "Server.log" in current working directory -->
    <add key="Server.RDBMSType" value="SQLite" />
    <add key="Server.DBHostOrFile" value = "${SQLitedbWork.file}" />
    <add key="Server.SQLiteBaseFile" value = "${SQLitedb.file}" />  <!-- database will be copied to the userappdata directory for a new user -->
    <add key="Server.DBPassword" value="${DBMS.Password}" />     <!-- this is the password for user petraserver for the SQLite database. 
                                                                      On Linux, the password should be empty. 
                                                                      see also http://sqlite.phxsoftware.com/forums/p/1508/6579.aspx#6579  -->

    <add key="Reporting.PathStandardReports" value="../XmlReports" />
    <add key="Reporting.PathCustomReports" value="../XmlReports/custom" />

  </appSettings>

  <system.web>
    <sessionState 
      mode="InProc"
      timeout="30" /> <!-- timeout in minutes -->
    <customErrors mode="Off"/>
    <httpModules>
        <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <compilation tempDirectory="${tempdir}" debug="true" strict="false" explicit="true">
       <assemblies>
          <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
       </assemblies>
    </compilation>

    <pages>
       <namespaces>
          <clear/>
          <add namespace="System"/>
          <add namespace="System.Collections"/>
          <add namespace="System.Collections.Generic"/>
          <add namespace="System.Collections.Specialized"/>
          <add namespace="System.Configuration"/>
          <add namespace="System.Text"/>
          <add namespace="System.Text.RegularExpressions"/>
          <add namespace="System.Linq"/>
          <add namespace="System.Xml.Linq"/>
          <add namespace="System.Web"/>
          <add namespace="System.Web.Caching"/>
          <add namespace="System.Web.SessionState"/>
          <add namespace="System.Web.Security"/>
          <add namespace="System.Web.Profile"/>
          <add namespace="System.Web.UI"/>
          <add namespace="System.Web.UI.WebControls"/>
          <add namespace="System.Web.UI.WebControls.WebParts"/>
          <add namespace="System.Web.UI.HtmlControls"/>
       </namespaces>

       <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
       </controls>
    </pages>

    <httpHandlers>
       <remove verb="*" path="*.asmx"/>
       <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
       <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
       <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>

  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/></compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="OptionInfer" value="true"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
       <remove name="ScriptModule"/>
       <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
    <handlers>
       <remove name="WebServiceHandlerFactory-Integrated"/>
       <remove name="ScriptHandlerFactory"/>
       <remove name="ScriptHandlerFactoryAppServices"/>
       <remove name="ScriptResource"/>
       <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
       <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
       <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>

  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
            <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
            <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
  </runtime>
</configuration>