<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- see http://www.4guysfromrolla.com/articles/121207-1.aspx for the reasons why there is so much more stuff -->
  <!-- see also http://examples.ext.net/#/Getting_Started/Introduction/README/ -->
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>

  <system.runtime.remoting>
      <application>
          <channels>
              <channel ref="http" />
              <serverProviders>
                  <formatter href="binary" />
              </serverProviders>
          </channels>
      </application>
  </system.runtime.remoting>

  <appSettings>
    <add key="Server.DebugLevel" value="${Server.DebugLevel}" />                        <!-- Default Value: "0" -->
    <add key="Server.PathTemp" value="${tempdir}" />
    <add key="Server.LogFile" value="${dir.log}/WebServer.log" />   <!-- Default Value: "Server.log" in current working directory -->
    <add key="Server.RDBMSType" value="Postgresql" />
    <add key="Server.DBHostOrFile" value = "${DBMS.DBHostOrFile}" />                <!-- Default Value: "Dns.GetHostName()" -->
    <add key="Server.DBPort" value = "${DBMS.DBPort}" />                                <!-- Default Value: "5432" -->
    <add key="Server.DBName" value = "${DBMS.DBName}"/>
    <add key="Server.DBUserName" value = "${DBMS.UserName}"/>
    <add key="Server.DBPassword" value="${DBMS.Password}" />     <!-- this is the password for user DBUserName for the PostgreSQL databases -->
    <add key="Server.PathData" value="${dir.root}/data" />
    <add key="SqlFiles.Path" value="${dir.csharp}/ICT/Petra/Server/sql" />
    <add key="Reporting.PathStandardReports" value="../XmlReports" />
    <add key="Reporting.PathCustomReports" value="../XmlReports/custom" />
    <add key="AnonymousUserPasswd" value="TOBESETBYINSTALLER2" />
    <add key="Formletters.Path" value="${dir.webserver}/formletters" />

    <add key="SmtpHost" value="${smtp.host}"/>
    <add key="SmtpUser" value="${smtp.username}"/>
    <add key="SmtpPassword" value="${smtp.password}"/>
    <add key="SmtpEnableSsl" value="${smtp.enablessl}"/>

    <!-- some values for the demo database -->
    <add key="ConferenceTool.EventCode" value="SC001CNGRSS08" />
    <add key="ConferenceTool.EventPartnerKey" value="1110198" />
  </appSettings>

  <system.web>
    <sessionState 
      mode="InProc"
      timeout="30" /> <!-- timeout in minutes -->
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <httpModules>
        <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </httpModules>
    <compilation tempDirectory="${tempdir}" debug="true" strict="false" explicit="true"/>

  </system.web>
  
  <extnet scriptMode="Release" />
  
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a"/>
            <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a"/>
            <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Extensions" publicKeyToken="b03f5f7f11d50a3a"/>
            <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="b03f5f7f11d50a3a"/>
            <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
  </runtime>
 
</configuration>