<configuration>
  <appSettings>
	<add key="Server.RDBMSType" value="Progress" />
	<add key="Server.ODBC_DSN" value="petra_dsn" />
	<add key="odbc.username" value="myusername" />
	<add key="odbc.password" value="secret" />
	<add key="SqlFiles.Path" value="../../" />
	<add key="LetterTemplate.File" value="../../letter.html" />
	<add key="OutputCSV.File" value="c:\tmp\donorhistory.csv" />
	<add key="DefaultNumberOfMonths" value="12"/>
	<add key="DefaultMinimumAmount" value="50"/>
	<add key="DefaultMaximumAmount" value="149"/>
	<add key="DefaultMinimumCount" value="11"/>
  	<add key="DefaultMaximumCount" value="500"/>
  </appSettings>
</configuration>
