<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp">
          <clientProviders>
            <formatter ref="binary" />
            <provider type="Ict.Common.Remoting.Sinks.Encryption.EncryptionClientSinkProvider, Ict.Common.Remoting.Sinks"
                FilePublicKeyXml="../etc30/publickey.xml"/>
          </clientProviders>
        </channel>
      </channels>
      <client>
        <wellknown type="Ict.Common.Remoting.Shared.IClientManagerInterface, Ict.Common.Remoting.Shared" url="tcp://{#PETRAHOST}:{#PETRAPORT}/Clientmanager" />
      </client>

    </application>
  </system.runtime.remoting>

  <appSettings>
    <add key="Petra.PathTemp" value="/tmp" />
    <add key="Reporting.PathReportSettings" value="../reports30/Settings/" />
    <add key="Reporting.PathReportUserSettings" value="~/.OpenPetra/Settings/" /> <!-- TODO -->
    <add key="OpenPetra.Path.Patches" value="../patches30"/>

    <add key="OpenPetra.Path.RemotePatches" value="https://{#WEBSITE}/patches/{#ORGNAME}/"/>
    <add key="OpenPetra.Path.Dat" value=""/> <!-- TODO -->
    <add key="RemoteDataDirectory" value=""/> <!-- TODO -->
    <add key="RemoteTmpDirectory" value=""/> <!-- TODO -->

    <add key="UINavigation.File" value="UINavigation.yml" />
    <add key="Resource.Dir" value="../resources30" />
    <add key="UseWindowsUserID" value="true" />                <!-- Default Value: "false" -->
    <add key="DelayedDataLoading" value="true" />                <!-- Default Value: "false" -->

    <add key="ServerPollIntervalInSeconds" value="15" />
    <add key="ServerObjectKeepAliveIntervalInSeconds" value="20" />

    <add key="RunAsRemote" value="true" />
  </appSettings>
</configuration>