<configuration>
  <appSettings>
    <add key="OpenPetra.HTTPServer" value="http://127.0.0.1:${Server.Port}"/>
    <add key="NumberOfLogFilesToKeep" value="6" />
    <add key="OpenPetra.PathLog" value="{userappdata}/OpenPetra/log/" />
    <add key="OpenPetra.PathTemp" value="{userappdata}/OpenPetra/tmp/" />

    <add key="Reporting.PathReportSettings" value="../reports30/Settings/" />
    <add key="Reporting.PathReportUserSettings" value="{userappdata}/OpenPetra/Settings/" />
    <add key="OpenPetra.Path.Patches" value="../patches30"/>

<!--    <add key="OpenPetra.Path.RemotePatches" value="https://{#WEBSITE}/patches/{#ORGNAME}/"/> -->

    <add key="UINavigation.File" value="UINavigation.yml" />
    <add key="Resource.Dir" value="../resources30" />
    <add key="UseWindowsUserID" value="true" />                <!-- Default Value: "false" -->
    <add key="DelayedDataLoading" value="true" />                <!-- Default Value: "false" -->

    <add key="ServerPollIntervalInSeconds" value="15" />
    <add key="ServerObjectKeepAliveIntervalInSeconds" value="20" />
    <add key="WebRequestTimeOutInMinutes" value="15"/>

    <add key="RunAsRemote" value="true" />
  </appSettings>
</configuration>
