<!--
  @Version $Revision: 1.2 $ / $Date: 2007/06/04 10:09:41 $
-->
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp">
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
        </channel>
      </channels>

	  <client>
		<wellknown type="Ict.Common.Remoting.Shared.IServerAdminInterface, Ict.Common.Remoting.Shared"
				   url="tcp://localhost:9000/Servermanager" />
	  </client>

    </application>
  </system.runtime.remoting>

  <appSettings>



  <add key="testscript" value="multistart.testing" />
  </appSettings>
</configuration>
