<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="libsodium" target="libsodium.so.13" os="!windows"/>

  <!-- see http://www.4guysfromrolla.com/articles/121207-1.aspx for the reasons why there is so much more stuff -->
  <!-- see also http://examples.ext.net/#/Getting_Started/Introduction/README/ -->
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="Server.DebugLevel" value="0" />                        <!-- Default Value: "0" -->
    <add key="Server.LogFile" value = "../log30/WebServer.log"/>
    
    <add key="Reporting.PathStandardReports" value="../reports30" />
    <add key="Reporting.PathCustomReports" value="../custom30" />
    <add key="SqlFiles.Path" value="../sql30" />

    <add key="Server.RDBMSType" value="Postgresql" />
    <add key="Server.DBHostOrFile" value = "localhost" />
    <add key="Server.DBPort" value = "5432" />
    <add key="Server.DBName" value = "openpetra_${OrgNameWithoutSpace}"/>
    <add key="Server.DBUserName" value = "petraserver_${OrgNameWithoutSpace}"/>
    <add key="Server.DBPassword" value="${RandomDBPassword}" />
    <add key="Server.PathData" value="../data" />
    <add key="AnonymousUserPasswd" value="TOBESETBYINSTALLER2" />
    <add key="Formletters.Path" value="../formletters" />

    <add key="SmtpHost" value="${smtp.host}"/>
    <add key="SmtpUser" value="${smtp.username}"/>
    <add key="SmtpPassword" value="${smtp.password}"/>
    <add key="SmtpEnableSsl" value="${smtp.enablessl}"/>
  </appSettings>

  <system.web>
    <sessionState 
      mode="InProc"
      timeout="30" /> <!-- timeout in minutes -->
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <httpModules>
        <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </httpModules>
    <compilation tempDirectory="../tmp" debug="true" strict="false" explicit="true"/>

  </system.web>
  
  <extnet scriptMode="Release" />
  
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a"/>
            <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a"/>
            <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Extensions" publicKeyToken="b03f5f7f11d50a3a"/>
            <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="b03f5f7f11d50a3a"/>
            <bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="4.0.0.0"/>
         </dependentAssembly>
      </assemblyBinding>
  </runtime>
 
</configuration>
